#body {
  background-color: beige;
  font-family: sans-serif;
}
#header{
  background-color: rgb(91, 100, 118);
  font-size: small;
  text-align: right;
  border: 2px solid black;
  padding-right: 10px;
  font-family: cursive;
  color: beige;
}
#aboutMe{
  color: black;
  padding: 10px;
}
#MainProjects{
  color: black;
  padding: 10px;
  display: block;
}
#contact{
  color: black;
  padding: 10px;
}
.imagensArveres{
  display: flex;
}
.imagensArveres1{
  padding-left: 10px;
  padding-right: 10px;
}
.imagensArveres2{
  padding-left: 10px;
  padding-right: 10px;
}
.imagensArveres3{
  padding-left: 10px;
  padding-right: 10px;
}
.aboutMeText{
  text-align: justify;
}
.mainProjectsText{
  font-size: medium;
}
.imagesTitle{
  text-align: center;
}